# –ê–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö –æ –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–∏ –æ—Ç–µ–ª–µ–π

–ò–º–ø–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –±–∏–±–ª–∏–æ—Ç–µ–∫—É pandas –∫–∞–∫ pd. –ü—Ä–æ—á–∏—Ç–∞–π—Ç–µ –¥–∞—Ç–∞—Å–µ—Ç bookings.csv —Å —Ä–∞–∑–¥–µ–ª–∏—Ç–µ–ª–µ–º ;. –°—Å—ã–ª–∫–∞ –Ω–∞ –¥–∞—Ç–∞—Å–µ—Ç –Ω–∞—Ö–æ–¥–∏—Ç—Å—è –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π path_to_file.

–°–æ—Ö—Ä–∞–Ω–∏—Ç–µ –ø—Ä–æ—á–∏—Ç–∞–Ω–Ω—ã–π –¥–∞—Ç–∞—Å–µ—Ç –≤ bookings. –ó–∞—Ç–µ–º –∑–∞–ø–∏—à–∏—Ç–µ –ø–µ—Ä–≤—ã–µ 7 —Å—Ç—Ä–æ–∫ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é bookings_head.

In [18]:
import pandas as pd
%run rename_columns.ipynb

In [5]:
path_to_file = 'bookings.csv'

In [8]:
bookings = pd.read_csv(path_to_file, sep=';')

In [10]:
bookings_head = bookings.head(7)

In [20]:
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

### –ó–∞–¥–∞–Ω–∏–µ 2
–ü–æ—Å–º–æ—Ç—Ä–∏—Ç–µ –Ω–∞ —Ä–∞–∑–º–µ—Ä—ã —Ç–∞–±–ª–∏—Ü—ã. –°–∫–æ–ª—å–∫–æ –≤—Å–µ–≥–æ –≤ –Ω–µ–π —Å—Ç–æ–ª–±—Ü–æ–≤?

In [12]:
rows, cols = bookings.shape
print(f'{rows=} {cols=}')

rows=119390 cols=21

### –ó–∞–¥–∞–Ω–∏–µ 3
–ö –∫–∞–∫–æ–º—É —Ç–∏–ø—É –æ—Ç–Ω–æ—Å–∏—Ç—Å—è –±–æ–ª—å—à–∏–Ω—Å—Ç–≤–æ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö?

In [13]:
bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Hotel                      119390 non-null  object
 1   Is Canceled                119390 non-null  int64
 2   Lead Time                  119390 non-null  int64
 3   arrival full date          119390 non-null  object
 4   Arrival Date Year          119390 non-null  int64
 5   Arrival Date Month         119390 non-null  object
 6   Arrival Date Week Number   119390 non-null  int64
 7   Arrival Date Day of Month  119390 non-null  int64
 8   Stays in Weekend nights    119390 non-null  int64
 9   Stays in week nights       119390 non-null  int64
 10  stays total nights         119390 non-null  int64
 11  Adults                     119390 non-null  int64
 12  Children                   119386 non-null  float64
 13  Babies                     119390 non-null  int64
 14  Meal                       119390 non-null  object
 15  Country                    118902 non-null  object
 16  Reserved Room Type         119390 non-null  object
 17  Assigned room type         119390 non-null  object
 18  customer type              119390 non-null  object
 19  Reservation Status         119390 non-null  object
 20  Reservation status_date    119390 non-null  object
dtypes: float64(1), int64(10), object(10)
memory usage: 19.1+ MB

### –ó–∞–¥–∞–Ω–∏–µ 4 üíÄ
–ö–∞–∫ –≤—ã —É–∂–µ –º–æ–≥–ª–∏ –∑–∞–º–µ—Ç–∏—Ç—å, –ø—Ä–∏ —Å–±–æ—Ä–µ –¥–∞—Ç–∞—Å–µ—Ç–∞ –ø—Ä–æ–∏–∑–æ—à–ª–∞ –Ω–µ–±–æ–ª—å—à–∞—è –æ—à–∏–±–∫–∞, –∏ –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫ –±—ã–ª–∏ –∑–∞–ø–∏—Å–∞–Ω—ã –≤ –Ω–µ—É–¥–æ–±–Ω–æ–º –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–π —Ä–∞–±–æ—Ç—ã —Ñ–æ—Ä–º–∞—Ç–µ. –ò—Å–ø—Ä–∞–≤—å—Ç–µ —Å–∏—Ç—É–∞—Ü–∏—é, –ø—Ä–∏–≤–µ–¥—è –Ω–∞–∑–≤–∞–Ω–∏—è —Å—Ç–æ–ª–±—Ü–æ–≤ –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É –∏ –∑–∞–º–µ–Ω–∏–≤ –ø—Ä–æ–±–µ–ª—ã –Ω–∞ –∑–Ω–∞–∫ –Ω–∏–∂–Ω–µ–≥–æ –ø–æ–¥—á–µ—Ä–∫–∏–≤–∞–Ω–∏—è. –ù–∞–ø—Ä–∏–º–µ—Ä: Is Canceled -> is_canceled

In [25]:
#–ü–æ–¥—Ä–æ–±–Ω–µ–µ —Å —Ñ—É–Ω–∫—Ü–∏–µ–π change_columns, –º–æ–∂–Ω–æ –æ–∑–Ω–∞–∫–æ–º–∏—Ç—å—Å—è –≤ —Ñ–∞–π–ª–µ 'rename_columns.ipynb'
bookings_new = change_columns(bookings)

### –ó–∞–¥–∞–Ω–∏–µ 5 üíÄ
–ü–µ—Ä–µ–π–¥–µ–º –∫ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—é –¥–∞–Ω–Ω—ã—Ö! –ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ –∏–∑ –∫–∞–∫–∏—Ö —Å—Ç—Ä–∞–Ω —Å–æ–≤–µ—Ä—à–∏–ª–∏ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ —É—Å–ø–µ—à–Ω—ã—Ö –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–π? –ë—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–µ —Å—á–∏—Ç–∞–µ—Ç—Å—è —É—Å–ø–µ—à–Ω—ã–º, –µ—Å–ª–∏ –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–º –Ω–µ –±—ã–ª–æ –æ—Ç–º–µ–Ω–µ–Ω–æ (–ø–µ—Ä–µ–º–µ–Ω–Ω–∞—è is_canceled). –í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ –≤—ã–±–µ—Ä–∏—Ç–µ —Å—Ç—Ä–∞–Ω—ã, –≤—Ö–æ–¥—è—â–∏–µ –≤ —Ç–æ–ø-5.

In [30]:
# –ú–æ–∂–Ω–æ –±—ã–ª–æ —Ñ–∏–ª—å—Ç—Ä–æ–≤–∞—Ç—å –∑–Ω–∞—á–µ–Ω–∏–µ —Å –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–∞ query.
bookings_new.loc[bookings_new.is_canceled == 0].country.value_counts().head()

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

### –ó–∞–¥–∞–Ω–∏–µ 6
–ù–∞ —Å–∫–æ–ª—å–∫–æ –Ω–æ—á–µ–π (stays_total_nights)  –≤ —Å—Ä–µ–¥–Ω–µ–º –±—Ä–æ–Ω–∏—Ä—É—é—Ç –æ—Ç–µ–ª–∏ —Ä–∞–∑–Ω—ã—Ö —Ç–∏–ø–æ–≤ (City Hotel, Resort Hotel)

In [33]:
bookings_new.groupby('hotel').stays_total_nights.mean()

hotel
City Hotel      2.978142
Resort Hotel    4.318547
Name: stays_total_nights, dtype: float64

### –ó–∞–¥–∞–Ω–∏–µ 7
–ò–Ω–æ–≥–¥–∞ —Ç–∏–ø –Ω–æ–º–µ—Ä–∞, –ø—Ä–∏—Å–≤–æ–µ–Ω–Ω–æ–≥–æ –∫–ª–∏–µ–Ω—Ç—É (assigned_room_type), –æ—Ç–ª–∏—á–∞–µ—Ç—Å—è –æ—Ç –∏–∑–Ω–∞—á–∞–ª—å–Ω–æ –∑–∞–±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–Ω–æ–≥–æ (reserved_room_type). –¢–∞–∫–æ–µ –º–æ–∂–µ—Ç –ø—Ä–æ–∏–∑–æ–π—Ç–∏, –Ω–∞–ø—Ä–∏–º–µ—Ä, –ø–æ –ø—Ä–∏—á–∏–Ω–µ –æ–≤–µ—Ä–±—É–∫–∏–Ω–≥–∞.

–°–∫–æ–ª—å–∫–æ –ø–æ–¥–æ–±–Ω—ã—Ö –Ω–∞–±–ª—é–¥–µ–Ω–∏–π –≤—Å—Ç—Ä–µ—Ç–∏–ª–æ—Å—å –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ?

*–æ—Ç–º–µ–Ω–∞ –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏—è —Ç–∞–∫–∂–µ —Å—á–∏—Ç–∞–µ—Ç—Å—è

In [35]:
len(bookings_new.loc[bookings_new.assigned_room_type != bookings_new.reserved_room_type])

14917

### –ó–∞–¥–∞–Ω–∏–µ 8
–¢–µ–ø–µ—Ä—å –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä—É–π—Ç–µ –¥–∞—Ç—ã –∑–∞–ø–ª–∞–Ω–∏—Ä–æ–≤–∞–Ω–Ω–æ–≥–æ –ø—Ä–∏–±—ã—Ç–∏—è (arrival_date_year).

–ù–∞ –∫–∞–∫–æ–π –º–µ—Å—è—Ü —á–∞—â–µ –≤—Å–µ–≥–æ –æ—Ñ–æ—Ä–º–ª—è–ª–∏ –±—Ä–æ–Ω—å –≤ 2016 –≥–æ–¥—É? –ò–∑–º–µ–Ω–∏–ª—Å—è –ª–∏ —Å–∞–º—ã–π –ø–æ–ø—É–ª—è—Ä–Ω—ã–π –º–µ—Å—è—Ü –≤ 2017?

In [36]:
bookings_new.groupby('arrival_date_year').arrival_date_month.agg(pd.Series.mode)

arrival_date_year
2015    September
2016      October
2017          May
Name: arrival_date_month, dtype: object

### –ó–∞–¥–∞–Ω–∏–µ 9
–°–≥—Ä—É–ø–ø–∏—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –ø–æ –≥–æ–¥–∞–º, –∞ –∑–∞—Ç–µ–º –ø—Ä–æ–≤–µ—Ä—å—Ç–µ, –Ω–∞ –∫–∞–∫–æ–π –º–µ—Å—è—Ü (arrival_date_month) –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏—è –æ—Ç–µ–ª—è —Ç–∏–ø–∞ City Hotel –æ—Ç–º–µ–Ω—è–ª–∏—Å—å —á–∞—â–µ –≤—Å–µ–≥–æ –≤ 2015? 2016? 2017? 

Hint: –¥–ª—è —ç—Ç–æ–≥–æ —Å–Ω–∞—á–∞–ª–∞ –ø—Ä–∏–º–µ–Ω–∏—Ç–µ –º–µ—Ç–æ–¥ groupby, –ø–æ—Å–ª–µ —á–µ–≥–æ –≤—ã–±–µ—Ä–∏—Ç–µ –Ω—É–∂–Ω—É—é –∫–æ–ª–æ–Ω–∫—É –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–∏—Ö –¥–µ–π—Å—Ç–≤–∏–π :) –ù–∞–ø—Ä–∏–º–µ—Ä:
> df.groupby('column_1')['column_2'].what_to_do()

In [40]:
bookings_new.loc[bookings_new.hotel == 'City Hotel'].groupby(['arrival_date_year', 'arrival_date_month']).is_canceled.sum().groupby('arrival_date_year').nlargest(1)

arrival_date_year  arrival_date_year  arrival_date_month
2015               2015               September             1543
2016               2016               October               1947
2017               2017               May                   2217
Name: is_canceled, dtype: int64

### –ó–∞–¥–∞–Ω–∏–µ 10
–ü–æ—Å–º–æ—Ç—Ä–∏—Ç–µ –Ω–∞ —á–∏—Å–ª–æ–≤—ã–µ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∏ —Ç—Ä—ë—Ö –∫–æ–ª–æ–Ω–æ–∫: adults, children –∏ babies. –ö–∞–∫–∞—è –∏–∑ –Ω–∏—Ö –∏–º–µ–µ—Ç –Ω–∞–∏–±–æ–ª—å—à–µ–µ —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ?

In [41]:
bookings_new[['adults', 'children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

### –ó–∞–¥–∞–Ω–∏–µ 11
–°–æ–∑–¥–∞–π—Ç–µ –∫–æ–ª–æ–Ω–∫—É total_kids, –æ–±—ä–µ–¥–∏–Ω–∏–≤ —Å—Ç–æ–ª–±—Ü—ã children –∏ babies. –î–ª—è –æ—Ç–µ–ª–µ–π –∫–∞–∫–æ–≥–æ —Ç–∏–ø–∞ —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π –æ–∫–∞–∑–∞–ª–æ—Å—å –Ω–∞–∏–±–æ–ª—å—à–∏–º?

City hotel ‚Äì –æ—Ç–µ–ª—å –Ω–∞—Ö–æ–¥–∏—Ç—Å—è –≤ –≥–æ—Ä–æ–¥–µ

Resort hotel ‚Äì –æ—Ç–µ–ª—å –∫—É—Ä–æ—Ä—Ç–Ω—ã–π

–í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —Å—Ä–µ–¥–Ω–µ–µ total_kids, –æ–∫—Ä—É–≥–ª–∏–≤ –¥–æ 2 –∑–Ω–∞–∫–æ–≤ –ø–æ—Å–ª–µ —Ç–æ—á–∫–∏.

In [42]:
bookings_new['total_kids'] = bookings_new.children + bookings_new.babies

In [43]:
bookings_new.groupby('hotel').total_kids.mean().round(2)

hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64

### –ó–∞–¥–∞–Ω–∏–µ 12 üíÄ

–ù–µ –≤—Å–µ –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏—è –∑–∞–≤–µ—Ä—à–∏–ª–∏—Å—å —É—Å–ø–µ—à–Ω–æ (is_canceled), –ø–æ—ç—Ç–æ–º—É –º–æ–∂–Ω–æ –ø–æ—Å—á–∏—Ç–∞—Ç—å, —Å–∫–æ–ª—å–∫–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –±—ã–ª–æ –ø–æ—Ç–µ—Ä—è–Ω–æ –≤ –ø—Ä–æ—Ü–µ—Å—Å–µ. –ò–Ω—ã–º–∏ —Å–ª–æ–≤–∞–º–∏, –ø–æ—Å—á–∏—Ç–∞—Ç—å –º–µ—Ç—Ä–∏–∫—É –ø–æ–¥ –Ω–∞–∑–≤–∞–Ω–∏–µ–º Churn Rate. Churn rate (–æ—Ç—Ç–æ–∫, –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç –æ—Ç—Ç–æ–∫–∞) ‚Äì —ç—Ç–æ –ø—Ä–æ—Ü–µ–Ω—Ç –ø–æ–¥–ø–∏—Å—á–∏–∫–æ–≤ (–Ω–∞–ø—Ä–∏–º–µ—Ä, –Ω–∞ push-—É–≤–µ–¥–æ–º–ª–µ–Ω–∏—è –æ—Ç —Å–∞–π—Ç–∞), –∫–æ—Ç–æ—Ä—ã–µ –æ—Ç–ø–∏—Å–∞–ª–∏—Å—å –æ—Ç –∫–∞–Ω–∞–ª–∞ –∫–æ–º–º—É–Ω–∏–∫–∞—Ü–∏–∏, –æ—Ç–∫–∞–∑–∞–ª–∏—Å—å –æ—Ç —É—Å–ª—É–≥ —Å–µ—Ä–≤–∏—Å–∞ –≤ —Ç–µ—á–µ–Ω–∏–µ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω–æ–≥–æ –ø–µ—Ä–∏–æ–¥–∞ –≤—Ä–µ–º–µ–Ω–∏. –ò–Ω—ã–º–∏ —Å–ª–æ–≤–∞–º–∏, –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è–µ—Ç —Å–æ–±–æ–π –æ—Ç–Ω–æ—à–µ–Ω–∏–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —É—à–µ–¥—à–∏—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –∫ –æ–±—â–µ–º—É –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –≤—ã—Ä–∞–∂–µ–Ω–Ω–æ–µ –≤ –ø—Ä–æ—Ü–µ–Ω—Ç–∞—Ö. –í –Ω–∞—à–µ–º —Å–ª—É—á–∞–µ Churn Rate - —ç—Ç–æ –ø—Ä–æ—Ü–µ–Ω—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤, –∫–æ—Ç–æ—Ä—ã–µ –æ—Ç–º–µ–Ω–∏–ª–∏ –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–µ. –î–∞–≤–∞–π—Ç–µ –ø–æ—Å–º–æ—Ç—Ä–∏–º, –∫–∞–∫ —ç—Ç–∞ –º–µ—Ç—Ä–∏–∫–∞ —Å–≤—è–∑–∞–Ω–∞ —Å –Ω–∞–ª–∏—á–∏–µ–º –¥–µ—Ç–µ–π —É –∫–ª–∏–µ–Ω—Ç–æ–≤!

–°–æ–∑–¥–∞–π—Ç–µ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é has_kids, –∫–æ—Ç–æ—Ä–∞—è –ø—Ä–∏–Ω–∏–º–∞–µ—Ç –∑–Ω–∞—á–µ–Ω–∏–µ True, –µ—Å–ª–∏ –∫–ª–∏–µ–Ω—Ç –ø—Ä–∏ –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–∏ —É–∫–∞–∑–∞–ª —Ö–æ—Ç—è –±—ã –æ–¥–Ω–æ–≥–æ —Ä–µ–±–µ–Ω–∫–∞ (total_kids), –≤ –ø—Ä–æ—Ç–∏–≤–Ω–æ–º —Å–ª—É—á–∞–µ ‚Äì False. –î–∞–ª–µ–µ –ø—Ä–æ–≤–µ—Ä—å—Ç–µ, —Å—Ä–µ–¥–∏ –∫–∞–∫–æ–π –≥—Ä—É–ø–ø—ã –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å –æ—Ç—Ç–æ–∫–∞ –≤—ã—à–µ. 

–í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ –Ω–∞–∏–±–æ–ª—å—à–∏–π % –æ—Ç—Ç–æ–∫–∞, –æ–∫—Ä—É–≥–ª–µ–Ω–Ω—ã–π –¥–æ 2 –∑–Ω–∞–∫–æ–≤ –ø–æ—Å–ª–µ —Ç–æ—á–∫–∏ (—Ç–æ –µ—Å—Ç—å –¥–æ–ª—è 0.24563 –±—É–¥–µ—Ç 24.56% –∏ –≤ –æ—Ç–≤–µ—Ç –ø–æ–π–¥—ë—Ç 24.56)

In [45]:
# True, –µ—Å–ª–∏ –±–æ–ª—å—à–µ –∏–ª–∏ —Ä–∞–≤–Ω–æ 1, False –µ—Å–ª–∏ –º–µ–Ω—å—à–µ
bookings_new['has_kids'] = bookings_new['total_kids'] >= 1

# –≥—Ä—É–ø–ø–∏—Ä—É–µ–º—Å—è –ø–æ –Ω—É–∂–Ω–æ–º—É –ø–æ–ª—é, –¥–ª—è –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø—ã –±–µ—Ä–µ–º –∫–æ–ª–æ–Ω–∫—É is_canceled 
# –∏—Å–ø–æ–ª—å–∑—É–µ–º value_counts —Å –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–º normalize=True, —á—Ç–æ–±—ã –ø–æ–∫–∞–∑–∞–ª–∏ –¥–æ–ª—é –≤ %
rates = bookings_new.groupby('has_kids')['is_canceled'].value_counts(normalize=True)

# –æ–∫—Ä—É–≥–ª—è–µ–º –∏ –ø–æ–∫–∞–∑—ã–≤–∞–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç
round(rates * 100, 2)

has_kids  is_canceled
False     0              62.78
          1              37.22
True      0              65.08
          1              34.92
Name: is_canceled, dtype: float64